@font-face {
    font-family: mifuente;
    src: url(fuentemi/Heavitas.ttf);
}


header{
    margin: 0;
    background-color:rgba(238, 255, 0, 0.938);
    width: 100%;
    height: 70px;
    position:relative;
    z-index: 100%;
    font-family: mifuente ;  
    
} 
nav{
    float: center;
    list-style: none;
    overflow: hidden;
}
.logo{
    float:left;
   width: 100px;
   height: 60px;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li {
    float:left;
    font-size: 20px;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;

}
nav ul li:hover{
    background: rgb(129, 126, 126);
}

    
    .face{
        float:right;
        width: 40px;
        height: 40px;
        padding: 13px;
        position: relative;
        top: -80px;
        left: px;
        }
    
        .git{
        float:right;
        width: 40px;
        height: 40px;
        padding: 13px;
        position: relative;
        top: -80px;
        left: -10px;
        }
        .c{
            font-family: mifuente;
            position: relative;
            top:70px;
            left:200px;
        }
    .fondo{
        position: relative;
        top:45px;
        left: 300px;
        width:500px ;
        height:400px ;
    }
    .d{
        font-family: mifuente;
        position: relative;
        top:-300px;
        left:350px;
    }

    body{
        background-color:rgb(27, 27, 27);
        width: 100%;
        height:100%; 
        flex-wrap: wrap;}

/*------------------------------------------*/
.card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(104, 200, 232, 0.947);
}

.card .front img{
    position: relative;
    width: 60%;
    height: 60%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg, #83aca5 ,#2db396 , #ba2fd0 , #ec62ec);
    text-align: center ;
    font-family: mifuente;
}


.card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#b552c2 ,#b178e0 ,#3c8b80 , #59ddc7) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.card .back .link a{
    color:#f3f3f3;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}



/*    --------------------------------------*/
.segunda .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.segunda .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.segunda .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.segunda .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.segunda .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(97, 165, 255);
}

.segunda .card .front img{
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: cover;

}
.segunda .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:rgb(255, 255, 255);
    background:linear-gradient(to bottom,#ffb623 ,#3a7d33 ,#3c8b80 , #59ddc7);
    text-align: center ;
    font-family: mifuente;
}


.segunda .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(45deg,#45b3a3 ,#ed9c19 ,#338d2b , #59ddc7) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.segunda .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.segunda .card .back .link a{
    color:#f3f3f3;
}
.segunda .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.segunda .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*---------------------------3-------------------------------*/
.tercera .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.tercera .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.tercera .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.tercera .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.tercera .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(134, 115, 56);
}

.tercera .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.tercera .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#45b3a3 ,#7a705f ,#696140 , #e9bd47);
    text-align: center ;
    font-family: mifuente;
}


.tercera .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#45b3a3 ,#6b5c45 ,#585e3d , #dcc845)  ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.tercera .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.tercera .card .back .link a{
    color:#f3f3f3;
}
.tercera .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.tercera .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*-------------------------4-----------------------------*/
.cuarto .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.cuarto .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.cuarto .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.cuarto .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.cuarto .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(150, 4, 203);
}

.cuarto .card .front img{
    position: relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.cuarto .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(to bottom,#88109a ,#cf4bde ,#c62a97 , #7e0dbb) ;
    text-align: center ;
    font-family: mifuente;
}


.cuarto .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(45deg,#8212d2 ,#ce00bc ,#bc5be3 , #5f1bb8)  ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.cuarto .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.cuarto .card .back .link a{
    color:#f3f3f3;
}
.cuarto .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cuarto .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*------------------------5---------------------------*/

.quinto .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.quinto .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.quinto .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.quinto .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.quinto .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(247, 145, 13);
}

.quinto .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.quinto .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background: linear-gradient(to bottom, #c41414, #f96b06 , #40d7c5 , #3e7c6f) ;
    text-align: center ;
    font-family: mifuente;
}
.quinto .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(45deg, #39cef4, #b62121, #ff6905 ,#367068 );
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.quinto .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.quinto .card .back .link a{
    color:#f3f3f3;
}
.quinto .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.quinto .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/* ------------------6-----------------------------------*/
.sexto .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.sexto .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.sexto .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.sexto .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.sexto .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(18, 81, 215);
}

.sexto .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.sexto .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg, #39cef4, #19dfc2, #13cda8 ,#212fff );
    text-align: center ;
    font-family: mifuente;
}


.sexto .card .back{
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(to bottom, #39cef4, #0c6c7d, #058fff ,#057a82 )  ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.sexto .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.sexto .card .back .link a{
    color:#f3f3f3;
}
.sexto .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.sexto .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*----------------------------7---------------------*/
.septi .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.septi .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.septi .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.septi .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.septi .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(33, 3, 104);
}

.septi .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.septi .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg, #1e0667, #5914a3, #9d21df ,#320669);
    text-align: center ;
    font-family: mifuente;
}

.septi .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(45deg, #2c015c, #921eda, #9813cd ,#020857) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.septi .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.septi .card .back .link a{
    color:#f3f3f3;
}
.septi .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.septi .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*-----------------8---------------------------------*/
.octavo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.octavo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.octavo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.octavo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.octavo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(255, 247, 0);
}

.octavo .card .front img{
    position:relative;
    width: 70%;
    height:70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.octavo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(to bottom,#70f0d7, #e8f809 , #f3a618,#45b1eb) ;
    text-align: center ;
    font-family: mifuente;
}


.octavo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#5675e3, #effb11, #f4c119,#67d9be)  ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.octavo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.octavo .card .back .link a{
    color:#f3f3f3;
}
.octavo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.octavo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*---------------------9-----------------------------*/
.noveno .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.noveno .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.noveno .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.noveno .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.noveno .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(245, 18, 226);
}

.noveno .card .front img{
    position: relative;
    width: 60%;
    height: 60%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.noveno .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:  linear-gradient(to bottom,#be11d8, #ff86ff, #e14dff,#f214eb);
    text-align: center ;
    font-family: mifuente;
}
.noveno .card .back{
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(to bottom,#b32bce, #cc88ff, #e385ff,#902cdc);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.noveno .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.noveno .card .back .link a{
    color:#f3f3f3;
}
.noveno .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.noveno .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*------------------10-----------------*/
.decimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.decimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.decimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.decimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.decimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(255, 235, 15);
}

.decimo .card .front img{
    position:relative;
    width: 60%;
    height: 60%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.decimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background: linear-gradient(to bottom,#ffe208, #fee900, #f6ff4d,#d6ee4f);
    text-align: center ;
    font-family: mifuente;
}


.decimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(to bottom,#dfe44d, #e3f86c, #f0e80d,#ffea29);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.decimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.decimo .card .back .link a{
    color:#f3f3f3;
}
.decimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.decimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*-----------------------11-----------------------------*/
.unodecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.unodecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.unodecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.unodecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.unodecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(167, 250, 246);
}

.unodecimo .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 30px;
    top: 50px;

}
.unodecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background: linear-gradient(to bottom,#8ffbec, #acb47d, #8d5b5b,#aa9f9f);
    text-align: center ;
    font-family: mifuente;
}


.unodecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#c4c4b6, #e3f86c, #865c5c,#b1f7ff) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.unodecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.unodecimo .card .back .link a{
    color:#f3f3f3;
}
.unodecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.unodecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*------------------------12-----------------------------*/
.dudecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.dudecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.dudecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.dudecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.dudecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(32, 137, 218);
}

.dudecimo .card .front img{
    position:relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.dudecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#5d83ff, #4fc5fc, #0821ff,#b1f7ff);
    text-align: center ;
    font-family: mifuente;
}


.dudecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#49a6e9, #0026ff, #2cfef7,#b1f7ff);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.dudecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.dudecimo .card .back .link a{
    color:#f3f3f3;
}
.dudecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.dudecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*----------------------------13----------------------*/

.tridecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.tridecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.tridecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.tridecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.tridecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(102, 93, 51);
}

.tridecimo .card .front img{
    position: relative;
    width:  50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.tridecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(to bottom,#df2421, #4e0778, #078681,#400e83);
    text-align: center ;
    font-family: mifuente;
}
.tridecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#49a6e9, #f13c1c, #2cfef7,#3102b3) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.tridecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.tridecimo .card .back .link a{
    color:#f3f3f3;
}
.tridecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.tridecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*---------------------------14-----------------------*/
/*---------------------------14-----------------------*/
.cudecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.cudecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.cudecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.cudecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.cudecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(74, 74, 74);
}

.cudecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 40px;
    top: 50px;

}
.cudecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background: linear-gradient(to bottom,#414141, #383434, #dddddd,#b8b8b8) ;
    text-align: center ;
    font-family: mifuente;
}
.cudecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(to bottom,#959595, #ffffff, #424545,#3c3c3c) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.cudecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.cudecimo .card .back .link a{
    color:#f3f3f3;
}
.cudecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cudecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg); }
    /*-------------------15--------------------------*/
    .quindecimo .card *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        font-family: mifuente;
    }
    .quindecimo .carta body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        
    }
    .quindecimo .card{
        position: relative;
        margin: 100px;
        width: 300px;
        height: 350px;
        top:150px;
        left: 300px;
    }
    .quindecimo .card .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius:10px ;
        overflow: hidden;
        transition: .5s;
    }
    
    .quindecimo .card .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px rgba(89, 89, 89, 0.88);
    }
    
    .quindecimo .card .front img{
        position:relative;
        width: 80%;
        height: 80%;
        object-fit: cover;
        left: 50px;
        top: 50px;
    
    }
    .quindecimo .card .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        color:#fff;
        background:linear-gradient(to bottom,#ff7700, #89858a ,#585858);
        text-align: center ;
        font-family: mifuente;
    }
    
    
    .quindecimo .card .back{
        transform: perspective(600px) rotateY(180deg);
        background:linear-gradient(45deg,#616565, #868386, #ff6b0f) ;
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #fffdfd;
        font-family: mifuente;
    
    }
    .quindecimo .card .back .link{
        border-top: solid 1px #f3f3f3 ;
        height: 50px;
        line-height: 50px;
        font-family: mifuente;
    }
    .quindecimo .card .back .link a{
        color:#f3f3f3;
    }
    .quindecimo .card:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    
    .quindecimo .card:hover .back{
        transform: perspective(600px) rotateY(360deg);  }
/*----------------------16--------------------------*/
.sexdecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.sexdecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.sexdecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.sexdecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.sexdecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(199, 128, 46);
}

.sexdecimo .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.sexdecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background: linear-gradient(45deg,#e642fc, #8afff3, #ff6b0f) ;
    text-align: center ;
    font-family: mifuente;
}


.sexdecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(45deg,#c632f7, #75ffff, #ff6b0f) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.sexdecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.sexdecimo .card .back .link a{
    color:#f3f3f3;
}
.sexdecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.sexdecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*-------------------------17--------------------------*/
.sectdecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.sectdecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.sectdecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.sectdecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.sectdecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(183, 183, 180);
}

.sectdecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.sectdecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#bababa, #8fd0bd ,#b07e7a, #a4d794 ,#b176df) ;
    text-align: center ;
    font-family: mifuente;
}
.sectdecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#f59235, #c884f8,#dd7d7df6,#95ffcf,#bdbdbb ) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.sectdecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.sectdecimo .card .back .link a{
    color:#f3f3f3;
}
.sectdecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.sectdecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg); }
/* ----------------------sigiuente-------------------*/
.bottom2{
    position: relative;
    top:10px ;
    left: 10px;
    height: 50px;
    width: 50px;
}
.boton{
    height: 100px;
    width: 100px;
    position: relative;
    top:-20px ;
    left: 700px; 
}
.siguiente{
font-family: mifuente;
position: relative;
top:20px ;
left: 700px;
}
.botontwo{
    height: 100px;
    width: 100px;
    position: relative;
    top:-200px ;
    left: 350px;   
}
.atras{
    font-family: mifuente;
    position: relative;
    top:-20px ;
    left: 350px; 
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++*/
