@font-face {
    font-family: mifuente;
    src: url(fuentemi/Heavitas.ttf);
}


header{
    margin: 0;
    background-color:rgba(238, 255, 0, 0.938);
    width: 100%;
    height: 70px;
    position:relative;
    z-index: 100%;
    font-family: mifuente ;  
    
} 
nav{
    float: center;
    list-style: none;
    overflow: hidden;
}
.logo{
    float:left;
    width: 100px;
    height: 60px;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li {
    float:left;
    font-size: 20px;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;

}
nav ul li:hover{
    background: rgb(129, 126, 126);
}

    
    .face{
        float:right;
        width: 40px;
        height: 40px;
        padding: 13px;
        position: relative;
        top: -80px;
        left: px;
        }
    
        .git{
        float:right;
        width: 40px;
        height: 40px;
        padding: 13px;
        position: relative;
        top: -80px;
        left: -10px;
        }
        .c{
            font-family: mifuente;
            position: relative;
            top:70px;
            left:220px;
        }
    .imapo{
        position: relative;
        top:80px;
        left: 370px;
        width:360px ;
        height:340px ;
    }
    .d{
        font-family: mifuente;
        position: relative;
        top:-300px;
        left:390px;
    }

    body{
        background-color:rgb(27, 27, 27);
        width: 100%;
        height:100%; 
        flex-wrap: wrap;}

/*------------------------------------------*/
.card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(240, 221, 5);
}

.card .front img{
    position: relative;
    width: 60%;
    height: 60%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(194, 210, 14);
    text-align: center ;
    font-family: mifuente;
}


.card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(197, 197, 5) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.card .back .link a{
    color:#f3f3f3;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}



/*    --------------------------------------*/
.segunda .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.segunda .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.segunda .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.segunda .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.segunda .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(107, 2, 119);
}

.segunda .card .front img{
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: cover;

}
.segunda .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(91, 1, 104);
    text-align: center ;
    font-family: mifuente;
}


.segunda .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(132, 4, 154) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.segunda .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.segunda .card .back .link a{
    color:#f3f3f3;
}
.segunda .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.segunda .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*---------------------------3-------------------------------*/
.tercera .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.tercera .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.tercera .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.tercera .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.tercera .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(237, 134, 0);
}

.tercera .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.tercera .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(206, 116, 6);
    text-align: center ;
    font-family: mifuente;
}


.tercera .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(206, 116, 6) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.tercera .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.tercera .card .back .link a{
    color:#f3f3f3;
}
.tercera .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.tercera .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*-------------------------4-----------------------------*/
.cuarto .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.cuarto .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.cuarto .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.cuarto .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.cuarto .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(1, 102, 179);
}

.cuarto .card .front img{
    position: relative;
    width: 60%;
    height: 60%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.cuarto .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(6, 96, 206);
    text-align: center ;
    font-family: mifuente;
}


.cuarto .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(2, 125, 141) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.cuarto .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.cuarto .card .back .link a{
    color:#f3f3f3;
}
.cuarto .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cuarto .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*------------------------5---------------------------*/

.quinto .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.quinto .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.quinto .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.quinto .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.quinto .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(1, 102, 179);
}

.quinto .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.quinto .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#029fc2, #7e704d) ;
    text-align: center ;
    font-family: mifuente;
}
.quinto .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#029fc2, #7e704d) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.quinto .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.quinto .card .back .link a{
    color:#f3f3f3;
}
.quinto .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.quinto .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/* ------------------6-----------------------------------*/
.sexto .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.sexto .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.sexto .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.sexto .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.sexto .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(155, 243, 15);
}

.sexto .card .front img{
    position:relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.sexto .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(123, 240, 22);
    text-align: center ;
    font-family: mifuente;
}


.sexto .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(13, 134, 50) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.sexto .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.sexto .card .back .link a{
    color:#f3f3f3;
}
.sexto .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.sexto .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*----------------------------7---------------------*/
.septi .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.septi .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.septi .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.septi .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.septi .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(9, 214, 166);
}

.septi .card .front img{
    position:relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.septi .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(255, 246, 65);
    text-align: center ;
    font-family: mifuente;
}

.septi .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(5, 115, 136) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.septi .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.septi .card .back .link a{
    color:#f3f3f3;
}
.septi .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.septi .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*-----------------8---------------------------------*/
.octavo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.octavo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.octavo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.octavo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.octavo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(122, 9, 214);
}

.octavo .card .front img{
    position:relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.octavo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(134, 5, 169);
    text-align: center ;
    font-family: mifuente;
}


.octavo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(71, 0, 134) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.octavo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.octavo .card .back .link a{
    color:#f3f3f3;
}
.octavo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.octavo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*---------------------9-----------------------------*/
.noveno .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.noveno .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.noveno .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.noveno .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.noveno .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(1, 179, 96);
}

.noveno .card .front img{
    position: relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.noveno .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#02c252, #6b3596) ;
    text-align: center ;
    font-family: mifuente;
}
.noveno .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#02c22f, #842087) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.noveno .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.noveno .card .back .link a{
    color:#f3f3f3;
}
.noveno .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.noveno .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*------------------10-----------------*/
.decimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.decimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.decimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.decimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.decimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(229, 245, 80);
}

.decimo .card .front img{
    position:relative;
    width: 50%;
    height: 50%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.decimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(122, 118, 32);
    text-align: center ;
    font-family: mifuente;
}


.decimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(158, 157, 67) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.decimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.decimo .card .back .link a{
    color:#f3f3f3;
}
.decimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.decimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*-----------------------11-----------------------------*/
.unodecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.unodecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.unodecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.unodecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.unodecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(238, 41, 248);
}

.unodecimo .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.unodecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(233, 92, 216);
    text-align: center ;
    font-family: mifuente;
}


.unodecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(241, 73, 230) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.unodecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.unodecimo .card .back .link a{
    color:#f3f3f3;
}
.unodecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.unodecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*------------------------12-----------------------------*/
.dudecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.dudecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.dudecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.dudecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.dudecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(86, 248, 41);
}

.dudecimo .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.dudecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(157, 227, 71);
    text-align: center ;
    font-family: mifuente;
}


.dudecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(106, 226, 50) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.dudecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.dudecimo .card .back .link a{
    color:#f3f3f3;
}
.dudecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.dudecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*----------------------------13----------------------*/

.tridecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.tridecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.tridecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.tridecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.tridecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(209, 100, 233);
}

.tridecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.tridecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#8735da, #d23df3) ;
    text-align: center ;
    font-family: mifuente;
}
.tridecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#962dcf, #d653ed) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.tridecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.tridecimo .card .back .link a{
    color:#f3f3f3;
}
.tridecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.tridecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/*---------------------------14-----------------------*/
.cudecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.cudecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.cudecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.cudecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.cudecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(160, 239, 86);
}

.cudecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.cudecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#35da3a, #3ddbf3) ;
    text-align: center ;
    font-family: mifuente;
}
.cudecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#51eaf2, #32eb35) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.cudecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.cudecimo .card .back .link a{
    color:#f3f3f3;
}
.cudecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.cudecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg); }
    /*-------------------15--------------------------*/
    .quindecimo .card *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        font-family: mifuente;
    }
    .quindecimo .carta body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        
    }
    .quindecimo .card{
        position: relative;
        margin: 100px;
        width: 300px;
        height: 350px;
        top:150px;
        left: 300px;
    }
    .quindecimo .card .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius:10px ;
        overflow: hidden;
        transition: .5s;
    }
    
    .quindecimo .card .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px rgb(204, 206, 204);
    }
    
    .quindecimo .card .front img{
        position:relative;
        width: 50%;
        height: 50%;
        object-fit: cover;
        left: 50px;
        top: 50px;
    
    }
    .quindecimo .card .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        color:#fff;
        background:rgb(165, 165, 165);
        text-align: center ;
        font-family: mifuente;
    }
    
    
    .quindecimo .card .back{
        transform: perspective(600px) rotateY(180deg);
        background:rgb(110, 110, 114) ;
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #fffdfd;
        font-family: mifuente;
    
    }
    .quindecimo .card .back .link{
        border-top: solid 1px #f3f3f3 ;
        height: 50px;
        line-height: 50px;
        font-family: mifuente;
    }
    .quindecimo .card .back .link a{
        color:#f3f3f3;
    }
    .quindecimo .card:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    
    .quindecimo .card:hover .back{
        transform: perspective(600px) rotateY(360deg);  }
/*----------------------16--------------------------*/
.sexdecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.sexdecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.sexdecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.sexdecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.sexdecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(139, 146, 139);
}

.sexdecimo .card .front img{
    position:relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.sexdecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:rgb(234, 120, 120);
    text-align: center ;
    font-family: mifuente;
}


.sexdecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:rgb(56, 56, 58) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.sexdecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.sexdecimo .card .back .link a{
    color:#f3f3f3;
}
.sexdecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.sexdecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg);  }
/*-------------------------17--------------------------*/
.sectdecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.sectdecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.sectdecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.sectdecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.sectdecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(138, 52, 237);
}

.sectdecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.sectdecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#5335da, #0d094f ,#6b3596) ;
    text-align: center ;
    font-family: mifuente;
}
.sectdecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#451da3, #912ed8,#0f0d5a) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.sectdecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.sectdecimo .card .back .link a{
    color:#f3f3f3;
}
.sectdecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.sectdecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg); }
/*----------------------18---------------------------------*/
.octadecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.octadecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.octadecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.octadecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.octadecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(186, 184, 188);
}

.octadecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.octadecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#798143,#7d7782) ;
    text-align: center ;
    font-family: mifuente;
}
.octadecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#c6c87b,#454545) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.octadecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.octadecimo .card .back .link a{
    color:#f3f3f3;
}
.octadecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.octadecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg); }
/*-------------------------19-----------------------*/
.novedecimo .card *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: mifuente;
}
.novedecimo .carta body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.novedecimo .card{
    position: relative;
    margin: 100px;
    width: 300px;
    height: 350px;
    top:150px;
    left: 300px;
}
.novedecimo .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px ;
    overflow: hidden;
    transition: .5s;
}

.novedecimo .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(237, 251, 44);
}

.novedecimo .card .front img{
    position: relative;
    width: 70%;
    height: 70%;
    object-fit: cover;
    left: 50px;
    top: 50px;

}
.novedecimo .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#fff;
    background:linear-gradient(45deg,#deff07,#e933dd) ;
    text-align: center ;
    font-family: mifuente;
}
.novedecimo .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:linear-gradient(to bottom,#f7ff1b,#ea57b4) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #fffdfd;
    font-family: mifuente;

}
.novedecimo .card .back .link{
    border-top: solid 1px #f3f3f3 ;
    height: 50px;
    line-height: 50px;
    font-family: mifuente;
}
.novedecimo .card .back .link a{
    color:#f3f3f3;
}
.novedecimo .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.novedecimo .card:hover .back{
    transform: perspective(600px) rotateY(360deg); }
/* ----------------------sigiuente-------------------*/
.bottom2{
    position: relative;
    top:10px ;
    left: 10px;
    height: 50px;
    width: 50px;
}
.boton{
    height: 100px;
    width: 100px;
    position: relative;
    top:-20px ;
    left: 700px; 
}
.siguiente{
font-family: mifuente;
position: relative;
top:20px ;
left: 700px;
}
.botontwo{
    height: 100px;
    width: 100px;
    position: relative;
    top:-200px ;
    left: 350px;   
}
.atras{
    font-family: mifuente;
    position: relative;
    top:-20px ;
    left: 350px; 
}


